.content{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border: 1px solid black;
    justify-content: flex-start;
}

.frame{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    border:  1px solid black;
    
}
.frameTitle{
    font-size: 16px;
    color:#010101;
    font-weight: 800;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border:1px solid  green;
}

.carousel{
    height: 80%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
